/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  /* background: var(--sidebar-color); */
  background: #0b2e4a;
  transition: var(--tran-05);
  z-index: 100;
  /* border-right: 2px solid #000; */
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  /* color: var(--text-color); */
  color: #fff;
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
  /* margin-top: 1rem; */
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 50px;
  /* background-color: black; */
}

.sidebar header .image img {
  width: 70%;
  height: 70%;
  border-radius: 6px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar header .toggle {
  position: absolute;
  top: 135%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--sidebar-color);
  color: #0b2e4a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-weight: 800;
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar .menu .menu-links {
  margin-left: 0;
  padding-left: 0;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: #0582ca;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: #fff;
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  /* margin-bottom: 1rem; */
}
.menu-bar::-webkit-scrollbar {
  display: none;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100%;
  width: calc(100% - 250px);
  /* background-color: #f4f7fc8c; */
  background-color: #f4f7fc4d;
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text {
  color: var(--text-color);
}

.chart__card {
  width: 400px;
  height: 400px;
  background-color: #fff;
  margin: 0.2rem 0.5rem 0.3rem 0;
  padding: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.chart__card:nth-child(1) {
  width: 600px;
}

.dashboard__containers {
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  justify-content: center;
}

.dashboard__container {
  background-color: #fff;
  margin: 0 1.5rem 1rem 0;
  padding: 0.6rem 1.5rem 1rem 1.5rem;
  width: 40%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: 400ms;
}

.dashboard__container:hover {
  box-shadow: none;
  /* border: 2px solid#0069d9; */
  border-radius: 6px;
}

.dashboard__container:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  z-index: -1;
}

.dashboard__container:hover:focus-visible {
  border: none;
}
.dashboard__container:hover:before,
.dashboard__container:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.dashboard__container:active {
  transform: scale(0.9);
}

/* .p-text{
  font-weight: 500;
  color: #2d476b;
  font-size: 1.1rem;
}

.text{
  font-size: 1.1rem;
  font-weight: 300;
}

.home__school-container:hover{
  cursor: pointer;
  background-color: #e4e9f7;
}


@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
} */

.home__section{
  padding: 0.1rem 3rem;
  height: 100%;
}

.home__container{
  display: flex;
  margin: 2rem 1rem;
  background-color: #fcfdfe;
  /* background: url('../assets/homeBackgound.png'); */
}

.home__container .home__left{
  flex: 1.5;
  margin-right: 1.5rem;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
}

.home__left .home__left--container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.home__left--container .home__heading{
  font-size: 5rem;
  /* margin: 1rem 0; */
  word-spacing: 20px;
  line-height: 7rem;
}

.home__left--container .home__subheading{
  font-size: 1.2rem;
  margin: 1rem 0;
  width: 50%;
  /* word-spacing: 10px; */
  line-height: 2.5rem;
}

.home__left--container .home__buttons{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-between;
}

.home__left--container .home__heading span{
  /* line-height: 10rem; */
  color: #0069d9;
}

.home__left--container .sponsors__heading{
  margin-top: 1.9rem;
  font-weight: 700;
}

.home__left--container .home__sponsors{
  margin-top: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.home__sponsors .sponsor__image{
  height: 90px;
  width: 200px;
  border-radius: 6px;
  background-color: #b5bfd9;
  margin-right: 1rem;
}

.home__container .home__right{
  flex: 1;
  margin-left: 1rem;
  width: 100%;
  height: 100%;
  
}

.home__right .home__image--container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 6px solid #0b2e4a;
  border-radius: 10px;
}

.home__image--container img{
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  border-radius: 12px;
}